/*цвет основного текста чорный #212121;*/
/*вторичный цвет  #757575;*/
/*акцент  голубой #2196F3;*/
/*цвет фона background: #FFFFFF; */
/* вторичный цвет фона background: #2F303A; */
:root {
--primary-text-color: #212121 ;
--title-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--title-background-color: #2F303A;
}

body {
  
  color: var(--primary-text-color);
  font-family:'Roboto', sans-serif;
}


.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header {
  background-color: #ccc;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid brown;
}
.logo { 
  color: var(--title-background-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}

/* site-nav list */
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 } 

.link-current {
  color: var(--accent-color);
  text-decoration: none;
 }

.link:focus, 
.link:hover {
  color: var(--accent-color);
 }

/* contakt list */

.contakt-link {
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contakt-link:focus,
.contakt-link:hover {  
  color: var(--accent-color);
}
.contakt-type {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
} 
.contakt-type:focus,
.contakt-type:hover {
  color: var(--title-text-color);
}

/* Герой */

.section-title {
  margin-top: 0;
  margin-bottom: 30;

  background-color: var(--title-background-color);
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button { 
  display: inline-block;
  padding: 11px,24px;
  min-width: 152px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;  
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-bottom: 94px;
  background-color: var(--title-background-color);
}

.benefits-text {
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.desc {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color); 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
      
}
.benefits {
  padding-bottom: 94px;
}
.subtitle-text {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.subtitle {
  padding-bottom: 94px;
}
.team {
  background: #F5F4FA;
}
.team-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-role {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1,19;
  text-align: center;
  letter-spacing: 0.03em;   
}
.team {
  padding-bottom: 94px;
}
/* Футер */

.info {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; 
}
.info-text {
  margin-top: 0px;
  margin-bottom: 28px;
}
.studio {
  color: var(--primary-white-color);
}
.info-link {
  margin-bottom: 12px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.part {
  padding-bottom: 60px;
  background-color: var(--title-background-color);
}


/* Портфоліо */

/* Герой */
.button-type {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button-type:hover,
.button-type:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.project-name {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em
}

.project-link {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em; 
}