/*цвет основного текста чорный #212121;*/
/*вторичный цвет  #757575;*/
/*акцент  голубой #2196F3;*/
/*цвет фона background: #FFFFFF; */
/* вторичный цвет фона background: #2F303A; */
:root {
--primary-text-color: #212121 ;
--title-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--title-background-color: #2F303A;
}

body {
  color: var(--primary-text-color);
  font-family:'Roboto', sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid brown;
}

/* Шапка */

.main {
  display: flex;
  height: 80px;
}

.logo { 
  margin-right: 93px;
  color: var(--title-background-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}

/* site-nav list */

.site-nav {
  display: flex; 
}

.site-nav .item + .item {
  margin-left: 50px;  
}

.link { 
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
 } 

.link-current {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  text-decoration: none;
 }

.link:focus, 
.link:hover {
  color: var(--accent-color);
 }

/* contakt list */

.contakt  {
  display: flex;
  margin-left: auto;
}

.contakt .item + .item {
  margin-left: 40px;
}

.contakt-link {
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contakt-link:focus,
.contakt-link:hover {  
  color: var(--accent-color);
}
.contakt-type {
  padding-left: 40px;
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
} 
.contakt-type:focus,
.contakt-type:hover {
  color: var(--title-text-color);
}

/* Герой */

/* секція */

.list-benefits {
 display: flex;
 list-style: none;
 padding-left: 0;
}
.section {
text-align: center;
}
.section-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button { 
  display: inline-block;
  padding: 11px,24px;
  min-width: 152px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;  
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.section {
  padding-bottom: 94px;
  background-color: var(--title-background-color);
}

/* Наші переваги */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; 
}

.benefits-text {
  margin-bottom: 10px;
  padding-right: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.desc {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 30px;

  color: var(--title-text-color); 
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
      
}
.benefits {
  padding-bottom: 94px;
  
}


/* Чим ми займаємось */

.subtitle-text {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

}
.subtitle { 
  padding-bottom: 94px;
  margin-right: -30px;
}

.subtitle-main {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  
  justify-content: center;
}

/* .subtitle-list {
margin-right: 30px;
} */

/* Наша команда */

.team {
  background: #F5F4FA;
  padding-bottom: 94px;
}

.team-main {
  display: flex;
  justify-content: center;
  
}
.team-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  
  letter-spacing: 0.03em;
}
.team-role {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1,19;
  
  letter-spacing: 0.03em;   
}

/* Футер */

.info {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; 
}
.info-text {
  margin-top: 0px;
  margin-bottom: 28px;
}
.studio {
  color: var(--primary-white-color);
}
.info-link {
  margin-bottom: 12px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.part {
  padding-bottom: 60px;
  background-color: var(--title-background-color);
}


/* Портфоліо */

/* Герой */

.button-type {
  padding: 6px 22px;
  

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}

.button-type:hover,
.button-type:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}
.button-list + .button-type + .button-type + .button-type { 
 margin-right: 8px;
}

.button-list {
  margin-top: 94px;
  margin-bottom: 34px;
  padding-left: 0px;
  display: inline-block;
  justify-content: center;

}


.project-name {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em
}

.project-link {
  margin-top: 20px;
  margin-bottom: 20px;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em; 
}

.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px; 
}

.list-card > .card-tumb {
  display: block;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}